.start-use{
  background-color: #B3C4CA;
  height: 3rem;
  text-align: center;
  line-height: 3rem;
  font-family: PingFangSC-Medium;
  font-size: 20px;
  color: #FFFFFF;
  letter-spacing: 2.15px;
}
.login-form{
  width:100%;
  padding-top: 10rem;
  font-size: 14px;
  margin-bottom: 8rem;
}
.login-form label{
  text-align: center;
  padding: 0;
}
.login-form .checknum{
  text-align: center;
  width:80px;
  display: inline-block;
  height: 25px;
  line-height: 21px;
  box-sizing: border-box
}
.login-form .checknum:hover{
  color:#fff;
  background-color: #999
}
.login-form input{
  border: none;
  outline: none;
  width: 7rem;
  text-indent: 5px;
  box-shadow: 0 0 0 1000px white inset !important;
}
.login-form .inputdiv{
  border-bottom: 1px solid #eee;
  height: 1.5rem;
  padding: 0;
}
.login-form .inputbox{
  padding-bottom: 1rem;
}
.login-form .checknum{
  display: inline-block;
  border: 1px solid #aaa;
  float: right;
  cursor: pointer;
}
div.remind{
  padding-top: 1.5rem;
  text-indent: 6px;
  color:red;
}
/* .inputbox .remind .red{
  color:red;
}
.inputbox .remind .green{
  color:green; */
/* } */
div.agreement{
  width: 100%;
  text-align: center;
  font-size: 12px;
  color:#aaa;
  position: fixed;
  left: 0;
  bottom: 6rem;
  margin: 0 auto;
}
div.agreement p{
  margin: 0;
}


