<!-- 手机号和验证码 -->
<form class="login-form">
  <div class="col-12 clearfix inputbox">
      <label class="col-3 float-left">手机号</label>
      <div class="col-9 float-left inputdiv">
        <input type="text " placeholder="请输入手机号">
        <span class="checknum" (click)="nowTest()">{{getVertification}}</span>
      </div>
  </div>
  <div class="col-12 clearfix inputbox">
      <label class="col-3 float-left">验证码</label>
      <div class="col-9 float-left inputdiv">
        <input type="text" placeholder="请输入验证码">
      </div>
  </div> 
</form>
<div class="agreement">
  <p>继续使用代表您已阅读并同意赛维相关</p>
  <p>《用户协议条款》</p>
</div>
<div class="start-use fixed-bottom">开始使用</div>

  
  
