<!-- banner部分 -->
<div class="banner">
  <a href="" class="">
    <img src="../../assets/banner.png" alt="">
  </a>
</div>

<!-- 状态框 -->
<div class="status">
  洗涤中
</div>

<!-- 洗护范围 -->
<div class="wash-range clearfix">
  <p class="col-12">洗护范围</p>
  <div class="clearfix wash-range-imgbox">
    <div class="col-4 float-left">
      <img src="../../assets/house@3x.png" alt="" >
    </div>
    <div class="col-4 float-left">
      <img src="../../assets/house@3x.png" alt="" >
    </div>
    <div class="col-4 float-left">
      <img src="../../assets/house@3x.png" alt="" >
    </div>
  </div>
</div>

<!-- 洗护说明 -->
<div class="wash-info clearfix">
    <div class="clearfix">
      <div class="col-6 float-left wash-info-box">
        <div class="wash-info-innerbox"></div>
      </div>
      <div class="col-6 float-left wash-info-box">
          <div class="wash-info-innerbox"></div>
      </div>
      <div class="col-6 float-left wash-info-box">
          <div class="wash-info-innerbox"></div>
      </div>
      <div class="col-6 float-left wash-info-box">
          <div class="wash-info-innerbox"></div>
      </div>
    </div>
</div>

<!-- footer部分 -->
<div class="footer fixed-bottom" style="height:49px">
    <a class="col-4 float-left text-center">
      <img src="../../assets/home_gray.png" alt="">
    </a>
    <a class="col-4 float-left text-center">
      <img src="../../assets/order_gray.png" alt="">
    </a>
    <a class="col-4 float-left text-center">
      <img src="../../assets/account_gray.png" alt="">
    </a>
</div>
