<!-- 顶部个人信息 -->
<div class="top-info clearfix">
  <div class="photo"></div>
  <div class="phone"></div>
</div>

<!-- 余额显示 -->
<div class="payleft"></div>
<!-- 功能区域 -->
<div class="func">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>
<!-- 退出按钮 -->
<div class="logout"></div>
<!-- footer部分 -->
<div class="footer fixed-bottom" style="height:49px">
    <a class="col-4 float-left text-center" [routerLink]="['/home']">
      <img src="../../assets/home_gray.png" alt="">
    </a>
    <a class="col-4 float-left text-center">
      <img src="../../assets/order_gray.png" alt="">
    </a>
    <a class="col-4 float-left text-center footer-account">
      <img src="../../assets/account_black.png" alt="">
      <p>我的</p>
    </a>
</div>
